*{
    font-family: monospace;
    font-size: large;
    transition-duration: 1s;
    color: #eee
}

#imperial, #values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imperial{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
}

.comparison{
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
}

hr {
    width: 80%;
    border-width: 1px;
    border-color: black;
}

input, select{
    background-color: #ffffff33;
    outline: none;
    border: none;
}

option{
    color: #000;
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #20252c;
}