*{
    font-family: monospace;
    font-size: large;
    transition-duration: 1s;
    color: #eee
}

#imperial, #values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imperial{
    width: 100%
}

.comparison{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}

hr {
    width: 80%;
    border-width: 1px;
    border-color: black;
}

input, select{
    background-color: #ffffff33;
    outline: none;
    border: none;
}

option{
    color: #000;
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-image: url('./800\ hamburgers\ background.png');
    background-color: #20252c;
    background-blend-mode: soft-light;
    background-size: 400px;
    background-repeat: repeat;
}